<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893547280830-488s4gkht14e0j4fl3h1fk88souo6nhb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893547280830-488s4gkht14e0j4fl3h1fk88souo6nhb</string>
	<key>API_KEY</key>
	<string>AIzaSyDfq-v4YL-YX_WXrFL1kXZqhWI4o_nVBBY</string>
	<key>GCM_SENDER_ID</key>
	<string>893547280830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edsiniakov.CHATswiftUI</string>
	<key>PROJECT_ID</key>
	<string>swiftuichat-512eb</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuichat-512eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893547280830:ios:31f7d2f27d104d632e21ef</string>
</dict>
</plist>